<div style="text-align:center">
    <h1>AWS Support Revolver</h1>
    <br>
    <div class="availability-div">
        <div style="display:block" *ngFor="let engineer of engineers">
            <p>
                {{ engineer.name }}<input type="checkbox" name="{{ engineer.name }}" (change)="availabilityChecked($event.target)" checked>
            </p>
        </div>
    </div>
    <div class="control-div">
        <div>
            <div>
                <input [value]="caseId" (input)="caseId = $event.target.value">
            </div>
            <br>
            <button (click)="buttonClicked()" [disabled]="spinInProgress">
                Feeling lucky, punk?
            </button>
        </div>
    </div>
    <div class="chart-div">
        <canvas id="da-revolver" width="400" height="300"></canvas>
    </div>
    <br><br>
    <div class="result-text">
        {{ result }}
    </div>
    <div class="invisible-content">
        <form action="https://paragon-na.amazon.com/hz/action/transfer-case-to-agent" target="post-output" method="POST">
            <input name="caseId" value="{{ caseId }}">
            <input name="agentLogin" value="{{ agent }}">
            <input name="transferReason" value="Transferred to {{ agent }}">
            <button #formPost type="submit">Submit</button>
        </form>
        <form enctype="text/plain" target="chime-output" method="POST" action="">
            <input name='{"Content": "{{ agent }}@ has been transferred case {{ caseId }} by Support Revolver", "trash": "' value='"}'>
            <button #chimePost type="submit">Submit</button>
        </form>
        <iframe name="post-output"></iframe>
        <iframe name="chime-output"></iframe>
    </div>
</div>
